@page "{id:guid}"
@model Chat.Presentation.Pages.ChangeRoleModel
@{
    ViewData["Title"] = "Zmiana roli użytkownika";
}

<h2>Zmiana roli użytkownika</h2>

<form method="post">
    <div class="form-group">
        <label for="role">Nowa rola:</label>
        <select id="role" name="SelectedRole" class="form-control">
            <option value="User" selected="@("User" == Model.SelectedRole)">User</option>
            <option value="Admin" selected="@("Admin" == Model.SelectedRole)">Admin</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Zatwierdź</button>
    <a asp-page="/Manage" class="btn btn-secondary">Anuluj</a>
</form>
